html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: red;
}

#redditIcon {
  font-size: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

a {
  text-decoration: none;
}