html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #DAE0E6;
}

p {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* 
*************************************************************
Navbar Start
************************************************************* 
*/
header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
}

#navigation {
  width: 100%;
  height: 40px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reddit {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: #FF4500;
}

#redditIcon {
  height: 40px;
  width: 40px;
  fill: #FF4500;
}

#home {
  color: black;
  font-size: 40px;
}


#formSearch {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputSearch {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: #F6F7F8;
}


#auth {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

#space {
  display: none;
}

/* 
*************************************************************
Navbar End
************************************************************* 
*/
/* 
*************************************************************
Hamburger Menu Start
************************************************************* 
*/
#menuContainer {
  position: absolute;
  z-index: 3;
  top: 22px;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#hamburger-menu {
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: max-content;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 40px;
  background-color: #333;
  border-radius: 999999px;
}


#sideBar {
  margin-top: 18px;
  transition: opacity 200ms ease-in-out;
  padding: 0.5rem 2rem;
  background-color: white;
  height: 250px;
}

#menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fontColor {
  color: black;
  font-weight: 600;

}

#homeMenu {
  color: black;
  font-size: 40px;
}

/* 
*************************************************************
Hamburger Menu End
************************************************************* 
*/
/*
************************************************************* 
Log In Start
 ************************************************************* 
*/
#login {
  width: 40%;
  max-width: 500px;
  min-width: 350px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px 30px;
}

.redditIcon {
  font-size: 100px;
  color: #FF4500;
}

.titleWelcome {
  margin-bottom: 0;
}

#loginForm {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginInputs {
  margin-top: 5px;
  height: 30px;
  width: 70%;
  border: none;
  border-radius: 9999999px;
  background-color: lightgoldenrodyellow;
  padding: 0px 10px;
  text-align: center;
  transition: 200ms ease-in;
}

.loginInputs:hover,
.loginInputs:focus {
  box-shadow: 0 0 5px black;
  outline: none;
}

.btnLR {
  margin-top: 5px;
  height: 30px;
  width: 70%;
  border: none;
  border-radius: 9999999px;
  background-color: green;
  padding: 0px 10px;
  text-align: center;
  color: white;
  font-weight: 700;
  transition: 200ms ease-in;
}

.btnLR:hover,
.btnLR:focus {
  box-shadow: 0 0 5px black;
  outline: none;
}


#login-register {
  display: flex;
}

#login-register-styles {
  text-decoration: underline;
}

#login-register-styles:link {
  color: blue;
}

/* visited link */
#login-register-styles:visited {
  color: blue;
}

/* mouse over link */
#login-register-styles:hover {
  color: blue;
}

/* selected link */
#login-register-styles:active {
  color: blue;
}


#login-register-link {
  margin-left: 10px;
}

.errorMsg {
  color: red;
  font-weight: 700;
  margin-top: 5px;
}

/* 
*************************************************************
Log In End
************************************************************* 
*/
/* 
*************************************************************
Sign Up Start
************************************************************* 
*/
#register {
  width: 40%;
  max-width: 500px;
  min-width: 350px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px 30px;
}

#registerForm {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#titleWelcomeMargin {
  margin-bottom: 20px;
}

/* 
*************************************************************
Sign Up End
************************************************************* 
*/
/* 
*************************************************************
List Of SubReddits Start
************************************************************* 
*/
#subredditsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#createSubreddit {
  width: 170px;
  padding: 10px;
  border-radius: 9999px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 700;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

#createSubreddit:hover,
#createSubreddit:focus {
  box-shadow: 0 0 10px black;
  outline: none;
}

.defaultSubReddit {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

#subRedditIcon {
  font-size: 30px;
  color: #FF4500;
}

#subredditPosts {
  height: fit-content;
  width: 95%;
  padding: 5px;
  background-color: #DAE0E6;
  margin: 0px 15px;
}

.defaultSubReddit:hover,
.defaultSubReddit:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}

/* 
*************************************************************
List Of SubReddits End
************************************************************* 
*/

/* 
*************************************************************
Create SubReddits Form/Button Start
************************************************************* 
*/
.create-SubReddit-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#create-SubReddit-form {
  display: flex;
  gap: 5px;
}

#create-SubReddit-input {
  width: 250px;
  border: 1px solid black;
  border-radius: 9999px;
  padding: 5px 10px;
  font-weight: 700;
  transition: 200ms ease-in-out;
}

#create-SubReddit-input:hover,
#create-SubReddit-input:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

#create-SubReddit-submitBtn {
  background-color: green;
  border: none;
  border-radius: 9999px;
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  transition: 200ms ease-in-out;
}

#create-SubReddit-submitBtn:hover,
#create-SubReddit-submitBtn:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

#create-SubReddit-cancelBtn {
  background-color: red;
  border: none;
  border-radius: 9999px;
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  transition: 200ms ease-in-out;
}

#create-SubReddit-cancelBtn:hover,
#create-SubReddit-cancelBtn:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

#create-SubReddit-error {
  text-align: center;
  color: red;
  font-weight: 800;
}

#create-subreddit-is-logged-in-msg {
  text-align: center;
  color: red;
  font-weight: 800;
}

/* 
*************************************************************
Create SubReddits Form/Button End
************************************************************* 
*/
/* 
*************************************************************
The SubReddit Page Start
************************************************************* 
*/
#theSubReddit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#h1TheSubReddit {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  font-size: 2.5rem;
  padding: 10px;
}

#h1SubredditIcon {
  margin-right: 20px;
  font-size: 3rem;
  color: #FF4500;
}

#createPost {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  transition: 200ms ease-in-out;
}

#createPost:hover,
#createPost:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

#createPostIcon {
  font-size: 40px;
  color: #FF4500;
}

#createPostInput {
  background-color: #DAE0E6;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  padding: 2px 5px;
}

.manyPosts {
  width: 90%;
  height: max-content;
  background-color: white;
  position: relative;
}

.manyPosts h5 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 200;
  color: gray;
}

.postContent {
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 90px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: 200ms ease-in-out;
}

.postContent:hover,
.postContent:focus {
  outline: none;
  box-shadow: 0 0 10px black;
}

#circleIcon {
  color: gray;
}

.manyPosts h2 {
  margin: 0;
}

#subRedditPostMessage {
  margin-top: 5px;
}

.likesComments {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.likes {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  border: 1px solid black;
  padding: 3px;
  border-radius: 9999px;
}

.likes p {
  padding-right: 10px;
  border-right: 1px solid black;
}

.likes button {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 1rem;
  border-radius: 100%;
  transition: 100ms ease-in-out;
}

.likes button:hover,
.likes button:focus {
  outline: none;
  box-shadow: 0 0 3px black;
}

.comments {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4.5px 10px;
  border: 1px solid black;
  border-radius: 9999px;
  font-size: 1rem;
  transition: 100ms ease-in-out;
}

.comments:hover,
.comments:focus {
  outline: none;
  box-shadow: 0 0 3px black;
}

#showErrorLoginVote {
  position: absolute;
  color: red;
  font-weight: 700;
  font-size: 0.8rem;
  bottom: -20px;
  left: 0;
}

/* 
*************************************************************
The SubReddit Page End
************************************************************* 
*/
/* 
*************************************************************
Create Titled Post Page Start
************************************************************* 
*/

#createPostSection {
  max-width: 800px;
  width: 90%;
}

#createPostSection h1 {
  font-size: 2rem;
}

#createPostSection hr {
  height: 2px;
  background-color: white;
  border: none;
  border-radius: 99999px;
  margin-bottom: 20px;
}

#createPostSection form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#select-container {
  width: 100%;
  height: max-content;
}

#select-drop-down {
  background-color: white;
  border: none;
  border-radius: 5px;
  min-width: 300px;
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: gray;
}

.dropDownFont {
  color: black;
}

#create-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

#create-post-title {
  width: 100%;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid rgb(231, 226, 226);
  margin-bottom: 10px;
  font-size: 1.25rem;
}

#create-post-msg {
  width: 100%;
  resize: vertical;
  min-height: 250px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid rgb(231, 226, 226);
  margin-bottom: 10px;
  font-size: 1rem;
}

#create-post-container hr {
  width: 100%;
  height: 1px;
  background-color: rgb(231, 226, 226);
  border: none;
  border-radius: 99999px;
}


#submit-btn-create-post-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#submit-btn-create-post {
  min-width: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 99999px;
  font-weight: 700;
  font-size: 0.95rem;
  cursor: not-allowed;
}

#submit-create-post-error {
  font-size: 1.25rem;
  font-weight: 700;
  color: red;
}

/* 
*************************************************************
Create Titled Post Page End
************************************************************* 
*/
/* 
*************************************************************
Display Post and its Comments Section Page Start
************************************************************* 
*/

#display-posts-comments-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#display-posts-comments-h1 {
  width: 100%;
}


/* 
*************************************************************
Display Post and its Comments Section Page End
************************************************************* 
*/
/* 
*************************************************************
Display Main Post - Section Page Start
************************************************************* 
*/

#mainPostContainer {
  background-color: white;
  width: 90%;
  height: max-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#mainPostDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#mainPostContainer h1,
#mainPostContainer h5 {
  margin: 0;
}

#mainPostContainer h1 {
  font-size: 35px;
}

#mainPostContainer h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
}

#mainPostFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#mainPostTitle {
  width: 100%;
  font-size: 35px;
}

#mainPostMessage {
  width: 100%;
  resize: vertical;
}

#mainPost-submit-edit {
  border: none;
  border-radius: 99999px;
  padding: 5px 10px;
  font-weight: 700;
  color: white;
  background-color: green;
}

#mainPost-error-edit {
  color: red;
  font-weight: 700;
  font-size: 0.8rem;
}


#main-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainPost-Likes-Comments {
  display: flex;
  gap: 10px;
}

#mainPost-comments {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4.5px 10px;
  border: 1px solid black;
  border-radius: 9999px;
  font-size: 1rem;
  transition: 100ms ease-in-out;
}

#mainPost-delete-edit-container {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

#mainPost-delete-edit-container button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  font-size: 1.5rem;
}

#form-comments {
  width: 90%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  background-color: white;
}

/* 
*************************************************************
Display Main Post - Section Page End
************************************************************* 
*/
/* 
*************************************************************
Display Main Post - Section -- Create Comment -- Page Start
************************************************************* 
*/

#create-comment-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

#create-comment-text-container {
  width: 100%;
}

#create-comment-text-container p {
  margin-bottom: 2px;
}

#create-comment-user-link {
  margin-left: 5px;
}

#create-comment-user-link:link {
  color: blue;
}

#create-comment-user-link:visited {
  color: blue;
}

#create-comment-user-link:hover {
  color: purple;
}

#create-comment-user-link:active {
  color: black;
}

#create-comment-text {
  resize: vertical;
  width: 100%;
  min-height: 100px;
  margin: 0;
  border: 1px solid #DAE0E6;
}

#create-comment-text:hover,
#create-comment-text:focus {
  outline: none;

}

#create-comment-button-container {
  border: none;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#create-comment-error {
  font-size: 0.8rem;
  font-weight: 700;
}

#create-comment-button-container button {
  font-weight: 700;
  padding: 3px 20px;
  border: none;
  border-radius: 99999px;
}

/* 
*************************************************************
Display Main Post - Section -- Create Comment -- Page End
************************************************************* 
*/

/* 
*************************************************************
1st Tier Comment - Start
************************************************************* 
*/

#divider-comment {
  width: 95%;
  border: 1px solid #DAE0E6;
}

.comment-reply {
  margin: 0 0;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.comment-reply h5 {
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.comment-icon {
  color: #FF4500;
  font-size: 1.5rem;
}

.comment-content {
  margin-left: 28px;
  padding-bottom: 20px;
}

.comment-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.interactive-btns {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

/* 
*************************************************************
1st Tier Comment - End
************************************************************* 
*/



/* 
*************************************************************
Reply, Edit, and Delete components - Start
************************************************************* 
*/

.icons {
  font-size: 1.20rem;
  color: black;
}

.reply {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 99999px;
  transition: 100ms ease-in-out;
}

.reply:hover,
.reply:focus {
  outline: none;
  box-shadow: 0 0 3px black;
}

.edit {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 99999px;
  transition: 100ms ease-in-out;
}

.edit:hover,
.edit:focus {
  outline: none;
  box-shadow: 0 0 3px black;
}

.delete {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 99999px;
  transition: 100ms ease-in-out;
}

.delete:hover,
.delete:focus {
  outline: none;
  box-shadow: 0 0 3px black;
}

#edit-box {
  height: 100px;
  width: 300px;
  background-color: red;
  bottom: 0;
  left: 0;
}


/* 
*************************************************************
Reply, Edit, and Delete components - End
************************************************************* 
*/


/* 
*************************************************************
Comment Content - Start
************************************************************* 
*/

.comment-submit-edit-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.comment-edit {
  width: 100%;
  resize: vertical;
}

.comment-submit-edit-btn {
  border: none;
  border-radius: 99999px;
  padding: 5px 10px;
  font-weight: 700;
  color: white;
  background-color: green;
}

.comment-edit-error {
  font-size: 0.8rem;
  font-weight: 700;
  color: red;
}

.comment-submit-reply-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.comment-reply-form {
  width: 100%;
  resize: vertical;
}

.comment-submit-reply-btn {
  border: none;
  border-radius: 99999px;
  padding: 5px 10px;
  font-weight: 700;
}


/* 
*************************************************************
Comment Content - End
************************************************************* 
*/
/* 
*************************************************************
Replies Component - Start
************************************************************* 
*/

.replies {
  padding-left: 28px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replies-container {
  width: 95%;
  display: flex;
  align-items: center;
}


.reply-content {
  display: flex;
  flex-direction: column;
}

.replies hr {
  height: 2px;
  border: none;
  width: 100%;
  background-color: #DAE0E6;
}

/* 
*************************************************************
Replies Component - End
************************************************************* 
*/

/* 
*************************************************************
Home Component - Start
************************************************************* 
*/

#homeSection {
  margin-top: -60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#homeSection h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#welcome-user {
  margin-left: 10px;
  padding: 3px 10px;
  border: none;
  border-radius: 30px;
  background-color: #FF4500;
  color: white;
}

#goToLoginRegister {
  display: flex;
  gap: 10px;
}

.hyperlink {
  text-decoration: underline;
  color: blue;
}

.hyperlink:active,
.hyperlink:focus {
  color: purple;
}

#userPosts {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.homePosts {
  width: max-content;
  height: max-content;
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
  background-color: white;
  transition: 100ms ease-in-out;
}

.homePosts:hover,
.homePosts:focus {
  outline: 2px solid black;
  box-shadow: 0 0 5px black;
}

.homePosts h4 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

#homeIcon {
  color: #FF4500;
}

#userSubreddits {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.homeBtns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

#home-create-post {
  border: none;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 99999px;
  font-weight: 700;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

#home-create-post:hover,
#home-create-post:focus {
  outline: none;
  box-shadow: 0 0 10px black;
}


/* 
*************************************************************
Carousel Component - End
************************************************************* 
*/
/* 
*************************************************************
Media Query End
************************************************************* 
*/


@media (max-width: 1450px) {
  #auth {
    width: 30%;
  }
}


@media (max-width: 1050px) {
  #home {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #auth {
    display: none;
  }

  #space {
    display: block;
    width: 10%;
  }

  #menuContainer {
    display: flex;
  }
}

@media (max-width: 600px) {

  #redditWord {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #space {
    width: 15%;
  }
}

@media (max-width: 600px) {

  #redditWord {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #space {
    width: 15%;
  }
}

@media (max-width: 350px) {
  #formSearch {
    width: 50%;
  }

  #space {
    width: 18%;
  }
}

/* 
*************************************************************
Media Query End
************************************************************* 
*/