:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 2px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 22px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #DAE0E6;
}

p {
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


/* 
*************************************************************
Navbar Start
************************************************************* 
*/

header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
}

#navigation {
  width: 100%;
  height: 40px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reddit {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: #FF4500;
}

#redditIcon {
  height: 40px;
  width: 40px;
  fill: #FF4500;
}

#home {
  color: black;
  font-size: 40px;
}


#formSearch {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputSearch {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: #F6F7F8;
}


#auth {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

#space {
  display: none;
}

/* 
*************************************************************
Navbar End
************************************************************* 
*/




/* 
*************************************************************
Hamburger Menu Start
************************************************************* 
*/
#menuContainer {
  position: absolute;
  z-index: 3;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  cursor: pointer;
}

#hamburger-menu::before,
#hamburger-menu::after,
#hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 99999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}


#hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

#hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

#hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

#hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

#sideBar {
  transition: opacity var(--animation-timing);
  opacity: 0;
  margin-top: calc(var(--hamburger-margin) - 3px);
  padding: 0.5rem 2rem;
  background-color: var(--background);
  height: 300px;
}

#hamburger-menu:has(input:checked)+#sideBar {
  opacity: 1;
}


#menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fontColor {
  color: var(--foreground);
  font-weight: 600;

}

#homeMenu {
  color: var(--foreground);
  font-size: 40px;
}




/* 
*************************************************************
Hamburger Menu End
************************************************************* 
*/







/*
************************************************************* 
Log In Start
 ************************************************************* 
*/

#login {
  width: 500px;
  max-width: 800px;
  min-width: 300px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px 30px;
}

#loginForm {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#login-username {
  display: flex;
  flex-direction: column;
}

#login-password {
  display: flex;
  flex-direction: column;
}

#login-register {
  display: flex;
}

/* 
*************************************************************
Log In End
************************************************************* 
*/

/* 
*************************************************************
Sign Up Start
************************************************************* 
*/

#register {
  width: 500px;
  max-width: 800px;
  min-width: 300px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 30px;
  padding: 20px 30px;
}

#registerForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#register-username {
  display: flex;
  flex-direction: column;
}

#register-password {
  display: flex;
  flex-direction: column;
}

/* 
*************************************************************
Sign Up End
************************************************************* 
*/

/* 
*************************************************************
Media Query End
************************************************************* 
*/


@media (max-width: 1450px) {
  /* #formSearch {
    width: 35%;
  } */

  #auth {
    width: 30%;
  }
}


@media (max-width: 1050px) {
  #home {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #auth {
    display: none;
  }

  #space {
    display: block;
    width: 10%;
  }

  #menuContainer {
    display: flex;
  }
}

@media (max-width: 600px) {

  #redditWord {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #space {
    width: 15%;
  }
}

@media (max-width: 600px) {

  #redditWord {
    display: none;
  }

  #formSearch {
    width: 60%;
  }

  #space {
    width: 15%;
  }
}

@media (max-width: 350px) {
  #formSearch {
    width: 50%;
  }

  #space {
    width: 18%;
  }
}

/* 
*************************************************************
Media Query End
************************************************************* 
*/